**/outputs/
**/lightning_logs/
**__pycache__/

/Butterflies/
**/Butterflies/
**outputs

/project-three-autoencoder/
**/wandb/
/wandb/
/project-three-autoencoder
encoder_weights_ninety.pth
classifier_ninety_ten.pth
classifier_ninety_ten_unfreezed.pth
encoder_weights_seventy.pth
classifier_seventy_thirty_freezed.pth
classifier_seventy_thirty_unfreezed.pth
*.ckpt
